name: lint-black-isort
run-name: Correct Format Lint

on: [push, pull_request]

jobs:
  black-lint-py:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: psf/black@stable
  isort-lint-py:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: isort/isort-action@v1
        with:
          requirements-files: "requirements.txt"
    